<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjjf.analysis.mapper.analysis.PlantItemMapper" >
  <resultMap id="BaseResultMap" type="com.zjjf.analysis.beans.analysis.PlantItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="itemBaseId" property="itemBaseId" jdbcType="INTEGER" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="areaPrice" property="areaPrice" jdbcType="DECIMAL" />
    <result column="plantDisPrice" property="plantDisPrice" jdbcType="DECIMAL" />
    <result column="plantMemPrice" property="plantMemPrice" jdbcType="DECIMAL" />
    <result column="ordId" property="ordId" jdbcType="INTEGER" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="tuijian" property="tuijian" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="maoli" property="maoli" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="spId" property="spId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="youHui" property="youHui" jdbcType="VARCHAR" />
    <result column="restrict" property="restrict" jdbcType="INTEGER" />
    <result column="goodsStock" property="goodsStock" jdbcType="INTEGER" />
    <result column="middleStock" property="middleStock" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="clickRate" property="clickRate" jdbcType="INTEGER" />
    <result column="upper" property="upper" jdbcType="INTEGER" />
    <result column="lower" property="lower" jdbcType="INTEGER" />
    <result column="scInPrice" property="scInPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemBaseId, areaId, areaName, areaPrice, plantDisPrice, plantMemPrice, ordId, 
    addTime, updateTime, tuijian, status, isDelete, maoli, fee, spGroupId, spId, remark, 
    youHui, `restrict`, goodsStock, middleStock, sales, clickRate, upper, lower, scInPrice
  </sql>
  
  <select id="selectByIndex" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from `PlantItem` where id &gt; #{id} order by id limit 1000
  </select>
</mapper>